body {
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
    margin: 0px;
    background: #c8d6e5; 
}

@font-face{
    font-family: calculatorfnt;
    src: url("./Calculator.ttf");
}

nav, section, article {
    margin: 5px;
    padding: 8px;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    text-align: center;
}

header, footer {
    padding: 5px;
    margin: 0;
}

button {
    width: 80px;
    text-align: center;
    font-size: 60px;
    background-color: #2e86de;
    color: #ecf0f1;
    border: cornflowerblue solid 1px;
    box-shadow:1px 2px 3px 1px #54a0ff;
    text-shadow:1px 1px 3px #54a0ff;
    margin: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 0.8rem;
}

button:hover{
    background-color: #54a0ff;
}

input {
    width: 336px;
    height: 95px;
    font-size: 45px;
    background-color: #576574;
    color: #ecf0f1;
    border: #c8d6e5 solid 1px;
    text-align: right;
    box-shadow:1px 2px 3px 1px #576574;
    text-shadow:1px 1px 3px #c8d6e5;
    margin: 3px;
    font-family: calculatorfnt;
    border-radius: 0.8rem;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 5px;
}